/*Definindo tamanho da logo e ajustes*/
img {
    height: 7rem;

}

.header{
    justify-content: center;
    height: 17%;
    background-color: white;
}

span{
    display: flex;
    align-items: center;
}

h1{
    padding-left: 1.0rem;
}